@if(productsData != null){

<section class=" p-4 my-5">
    <input [(ngModel)]="searchValue" type="text" placeholder="Search by name...." class="p-4 mx-auto block rounded w-[50%]">
    <div class="container w-[90%] mx-auto ">
        <h1 class="main-title">All Products</h1>
        <div class="grid gap-4 grid-cols-1 sm:grid-cols-3 lg:grid-cols-5">


            @for(product of productsData | search: searchValue ; track product._id){

            <div class="product p-4 cursor-pointer flex flex-col justify-between " >

                <div class="" [routerLink]="['/product-details',product._id]">
                    <div class="">
                        <img [src]="product.imageCover" [alt]="product.title">
                    </div>
                    <div class="mt-4">
                        <h2 class="text-main">{{product.category.name}}</h2>
                        <h1 class="font-black">{{product.title.split(' ').slice(0,2).join(' ')}}</h1>
                    </div>
                    <div class="mt-4 flex flex-wrap justify-between">
                        <h3>{{product.price}}</h3>
                        <span><i class=" rating-color  fa-solid fa-star"></i>{{product.ratingsAverage}}</span>

                    </div>
                </div>

                <div class="mt-4 ">
                    <button (click)="addToCart(product._id)" class="btn-main  mx-auto   ">+Add to cart</button>
                </div>
                <span (click)="addToWhishlist(product._id)" class="mt-4  ms-auto text-2xl  block"><i class="fa-regular fa-heart"></i></span>

            </div>

            }

        </div>

    </div>

</section>

}
